Repository Antmartore/fantasy-gm-assistant-n0fwii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @devops-team, @security-team, @integration-team, @ml-team, @mobile-team, @ios-team, @android-team

Add public-samples/fantasy-gm-assistant-n0fwii/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/main.tf
  infrastructure/main.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/outputs.tf
  infrastructure/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/provider.tf
  infrastructure/provider.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/terraform.tfvars.example
  infrastructure/terraform.tfvars.example
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/variables.tf
  infrastructure/variables.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/versions.tf
  infrastructure/versions.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/cloudfront.tf
  infrastructure/aws/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/ecr.tf
  infrastructure/aws/ecr.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/ecs.tf
  infrastructure/aws/ecs.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/elasticache.tf
  infrastructure/aws/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/iam.tf
  infrastructure/aws/iam.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/kms.tf
  infrastructure/aws/kms.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/lambda.tf
  infrastructure/aws/lambda.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/outputs.tf
  infrastructure/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/provider.tf
  infrastructure/aws/provider.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/rds.tf
  infrastructure/aws/rds.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/route53.tf
  infrastructure/aws/route53.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/s3.tf
  infrastructure/aws/s3.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/sqs.tf
  infrastructure/aws/sqs.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/variables.tf
  infrastructure/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/versions.tf
  infrastructure/aws/versions.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/vpc.tf
  infrastructure/aws/vpc.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/aws/waf.tf
  infrastructure/aws/waf.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/firebase/firebase.json
  infrastructure/firebase/firebase.json
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/firebase/firestore.rules
  infrastructure/firebase/firestore.rules
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/firebase/storage.rules
  infrastructure/firebase/storage.rules
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/monitoring/datadog.tf
  infrastructure/monitoring/datadog.tf
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/infrastructure/monitoring/grafana.tf
  infrastructure/monitoring/grafana.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

# Fantasy GM Assistant CODEOWNERS
# Automatically assigns reviewers for pull requests based on file paths
# Format: file_pattern @owner1 @owner2

# Default owners for unmatched files
* @project-leads

# Backend service ownership
src/backend/** @backend-team @devops-team
src/backend/app/core/** @backend-team @security-team
src/backend/app/services/** @backend-team @integration-team
src/backend/app/ml/training/** @ml-team @backend-team
src/backend/app/ml/inference/** @ml-team @backend-team

# Mobile application ownership
src/mobile/** @mobile-team
src/ios/** @ios-team @mobile-team
src/android/** @android-team @mobile-team

# Infrastructure and deployment
infrastructure/** @devops-team @security-team
.github/workflows/** @devops-team

# Security-critical components requiring multiple reviews
src/backend/app/core/security/** @security-team
src/backend/app/core/auth/** @security-team @backend-team
infrastructure/aws/iam/** @security-team @devops-team
**/secrets/** @security-team
src/backend/app/core/data/** @security-team @backend-team
**/Dockerfile @devops-team @security-team

# Documentation ownership
docs/api/** @backend-team @integration-team
docs/architecture/** @project-leads @devops-team

# Review requirements for security-critical paths
# These paths require 2 approving reviews
src/backend/app/core/security/**  @security-team
src/backend/app/core/auth/**      @security-team @backend-team
infrastructure/aws/iam/**         @security-team @devops-team
**/secrets/**                     @security-team
src/backend/app/core/data/**      @security-team @backend-team

# Container security configurations
**/Dockerfile                     @devops-team @security-team
