Repository Antmartore/fantasy-gm-assistant-n0fwii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @devops-team, @security-team, @integration-team, @ml-team, @mobile-team, @ios-team, @android-team

.github/CODEOWNERS:

# Fantasy GM Assistant CODEOWNERS
# Automatically assigns reviewers for pull requests based on file paths
# Format: file_pattern @owner1 @owner2

# Default owners for unmatched files
* @project-leads

# Backend service ownership
src/backend/** @backend-team @devops-team
src/backend/app/core/** @backend-team @security-team
src/backend/app/services/** @backend-team @integration-team
src/backend/app/ml/training/** @ml-team @backend-team
src/backend/app/ml/inference/** @ml-team @backend-team

# Mobile application ownership
src/mobile/** @mobile-team
src/ios/** @ios-team @mobile-team
src/android/** @android-team @mobile-team

# Infrastructure and deployment
infrastructure/** @devops-team @security-team
.github/workflows/** @devops-team

# Security-critical components requiring multiple reviews
src/backend/app/core/security/** @security-team
src/backend/app/core/auth/** @security-team @backend-team
infrastructure/aws/iam/** @security-team @devops-team
**/secrets/** @security-team
src/backend/app/core/data/** @security-team @backend-team
**/Dockerfile @devops-team @security-team

# Documentation ownership
docs/api/** @backend-team @integration-team
docs/architecture/** @project-leads @devops-team

# Review requirements for security-critical paths
# These paths require 2 approving reviews
src/backend/app/core/security/**  @security-team
src/backend/app/core/auth/**      @security-team @backend-team
infrastructure/aws/iam/**         @security-team @devops-team
**/secrets/**                     @security-team
src/backend/app/core/data/**      @security-team @backend-team

# Container security configurations
**/Dockerfile                     @devops-team @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/cache/CachePackage.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/cache/CachePackage.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/media/MediaProcessorModule.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/media/MediaProcessorModule.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/media/MediaProcessorPackage.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/media/MediaProcessorPackage.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/notifications/NotificationModule.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/notifications/NotificationModule.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/notifications/NotificationPackage.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/notifications/NotificationPackage.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/performance/PerformanceModule.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/performance/PerformanceModule.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/modules/performance/PerformancePackage.kt
  src/android/app/src/main/java/com/fantasygm/assistant/modules/performance/PerformancePackage.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/utils/Constants.kt
  src/android/app/src/main/java/com/fantasygm/assistant/utils/Constants.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/utils/Extensions.kt
  src/android/app/src/main/java/com/fantasygm/assistant/utils/Extensions.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/utils/Logger.kt
  src/android/app/src/main/java/com/fantasygm/assistant/utils/Logger.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/java/com/fantasygm/assistant/utils/SecurityUtils.kt
  src/android/app/src/main/java/com/fantasygm/assistant/utils/SecurityUtils.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/drawable/ic_launcher_background.xml
  src/android/app/src/main/res/drawable/ic_launcher_background.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/drawable/launch_screen.xml
  src/android/app/src/main/res/drawable/launch_screen.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/app/src/test/java/com/fantasygm/assistant/ExampleUnitTest.kt
  src/android/app/src/test/java/com/fantasygm/assistant/ExampleUnitTest.kt
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/fastlane/Appfile
  src/android/fastlane/Appfile
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/fastlane/Fastfile
  src/android/fastlane/Fastfile
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/fastlane/README.md
  src/android/fastlane/README.md
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @android-team, @mobile-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/main.py
  src/backend/main.py
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team, @devops-team

Add public-samples/fantasy-gm-assistant-n0fwii/src/backend/pytest.ini
  src/backend/pytest.ini
Owners: @backend-team, @devops-team
